    <!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Listagem de eventos</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-confirm.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Simple Public Sale</a>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/mdb.min.js' %}"></script>
    <script src="{% static 'js/jquery-confirm.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

     {% for message in messages %}
        <script>
        var tipo = "{{ message.tags }}";
        var type = "green";
        switch (tipo){
            case "error":
                type="red";
                break;
            case "success":
                type="green";
                break;
            case "warning":
                type="orange";
                break;
            case "info":
                type="blue";
                break;
        }
        $.confirm({
            title: 'Aviso!',
            content: '{{ message }}',
            type: 'red',
            typeAnimated: true,
            buttons: {
                tryAgain: {
                    text: 'Prosseguir',
                    btnClass: 'btn-green',
                    action: function(){
                    }
                },

            }
        });

        </script>
    {% endfor %}
</body>
</html>