{% include 'base.html' %}
{% block content %}



    <div class="container">
        <br>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'list-all-events' %}">Eventos</a></li>
                <li class="breadcrumb-item active">{{ evento.nome }}</li>
            </ol>
        </nav>

        <h4>Prendas</h4>
        <!-- List group -->

        <div id="accordion" role="tablist">
            {% for prenda in evento.prenda_set.all %}
                <div class="card">

                    <div class="card-header" role="tab" id="heading_{{ forloop.counter }}">

                        <h5 class="float-left" style="display: inline-block;">
                            <a data-toggle="collapse" href="#id_prenda_{{ forloop.counter }}" role="button"
                               aria-expanded="true"
                               aria-controls="collapseOne">
                                {{ prenda.tipo_prenda.descricao }}
                            </a>
                        </h5>

                        {% if prenda.arrematador == False %}
                            <span class="badge green float-right mr-2">Aberto </span>
                        {% else %}
                            <span class="badge black float-right mr-2">Arrematada </span>
                        {% endif %}



                        {% if prenda.parent %}
                            <span class="badge purple float-right mr-2">Doada </span>
                            <!--<small></small>-->
                        {% endif %}

                        <br>

                        {% if prenda.is_doada %}
                            <a href="{% url 'undo-donation' prenda_id=prenda.id evento_id=evento.pk %}"
                               class="btn btn-warning float-right btn-sm">
                                Desfazer Doação
                            </a>
                        {% endif %}

                        {% if prenda.arrematador == True %}
                            {% if prenda.is_doada == False %}
                                <a href="{% url 'donate-prenda' prenda_id=prenda.id %}"
                                   class="btn btn-warning float-right btn-sm">
                                    Doar
                                </a>
                            {% endif %}
                        {% endif %}


                    </div>
                    <div class="col-md-6 offset-6">

                        <div class="row offset-6">

                        </div>
                    </div>


                    <div id="id_prenda_{{ forloop.counter }}" class="collapse" role="tabpanel"
                         aria-labelledby="headingOne"
                         data-parent="#accordion">
                        <div class="card-body">

                            <form method="post">
                                {% csrf_token %}
                                <div class="row">

                                    <div class="col-8">
                                        <h4>Adicione um novo lance</h4>
                                        <div class="md-form">
                                            <label for="{{ form.nome_arrematador.id_for_label }}">Arrematador</label>
{#                                            {{ form.nome_arrematador }}#}
                                            <input type="text" name="nome_arrematador" id="autocomplete"/>
                                        </div>
                                        <div class="md-form">
                                            {% if form.errors %}
                                                {% for valor_arremate in form %}
                                                    {% for error in valor_arremate.errors %}
                                                        <script>
                                                            $.confirm({
                                                                title: 'Aviso!',
                                                                content: '{{ error }}',
                                                                type: 'red',
                                                                typeAnimated: true,
                                                                buttons: {
                                                                    tryAgain: {
                                                                        text: 'Prosseguir',
                                                                        btnClass: 'btn-green',
                                                                        action: function(){
                                                                        }
                                                                    },

                                                                }
                                                            });
                                                        </script>

                                                    {% endfor %}
                                                {% endfor %}

                                            {% endif %}

                                            <label for="{{ form.valor_arremate_id_for_label }}">Valor</label>
                                            {{ form.valor_arremate }}
                                        </div>
                                        <input type="hidden" name="prenda_id" value="{{ prenda.pk }}">
                                        <input type="hidden" name="group_id" value="{{ evento.grupo_id }}">
                                        <button type="submit" class="btn btn-primary" name="btn-enviar">Enviar</button>

                                        {% if prenda.arrematador %}
                                            <a href="{% url 'desfaz-arrematar-prenda'  prenda_id=prenda.pk evento_id=evento.id %}"
                                               class="btn btn-warning float-right"><i
                                                    class="material-icons"></i>Desfazer Arremate</a>
                                        {% else %}
                                            <a href="{% url 'arrematar-prenda'  prenda_id=prenda.pk evento_id=evento.id %}"
                                               class="btn btn-danger float-right"><i
                                                    class="material-icons"></i>Arrematar</a>
                                        {% endif %}


                                    </div>

                                    <div class="col-4">
                                        <h5>Últimos três lances:</h5>
                                        <ul class="list-group">
                                            {% for move in prenda.last_three_movements %}
                                                <li class="list-group-item">
                                                    {{ move.arrematador.nome.capitalize }} (
                                                    <span class="text-primary monetary-value">{{ move.valor }}</span> )

                                                    <a href="{% url 'undo-movement-prenda' movimento_id=move.id %}"
                                                       class="btn-sm btn-danger float-right"><i
                                                            class="material-icons">undo</i></a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>


                            </form>


                        </div>
                    </div>

                </div>




            {% endfor %}

        </div>

    </div>
    <script>
        $(document).ready(function () {
            $('#autocomplete').autocomplete({
                serviceUrl: '/todos/participantes',
                onSelect: function (suggestion) {
                    {#alert('You selected: ' + suggestion.value + ', ' + suggestion.data);#}
                }
            });

            $(".monetary-value").each(function () {
                console.log($(this).text());
                num = Number($(this).text());
                $(this).text(num.toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'}));
            })
        })
    </script>
{% endblock %}