<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        <input type="text" name="message">
        {% csrf_token %}
        <input type="submit">
    </form>

<script>
    socket = new WebSocket("ws://" + window.location.host + "/chat/?username=allan");
socket.onmessage = function(e) {
    alert(e.data);
}
socket.onopen = function() {
    socket.send("hello world");
}
// Call onopen directly if socket is already open
if (socket.readyState == WebSocket.OPEN) socket.onopen();

</script>
</body>
</html>