<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Evento</h1> {{ grupo.nome_evento }}
    <button onclick="openWebSocket('allan','{{ grupo.pk }}')">Play</button>

<script>
    function openWebSocket(username,group_id){
        console.log(username,group_id);
       socket = new WebSocket("ws://" + window.location.host + "/chat/?username="+username+"&group_id="+group_id);
       socket.onmessage = function(e) {
           console.log(e.data);
    };
        socket.onopen = function() {
        socket.send("hello world");
    };
        // Call onopen directly if socket is already open
        if (socket.readyState == WebSocket.OPEN) socket.onopen();
    }


</script>
</body>
</html>